<div class="row panel">
    <h1><a href="#/"><em class="icon-chevron-sign-left"></em></a> {{song.title}}</h1>
    <p>
      <div ng-show="song.author"><strong>Av:</strong> <span ng-bind-html="song.author | sbNewlines"></span></div>
      <div ng-show="song.melody"><strong>Melodi:</strong> <span ng-bind-html="song.melody | sbNewlines"></span></div>
      <a data-ng-show="melody && melody.paused" href="" data-ng-click="play()"><em class="icon-play"></a></em>
      <a data-ng-show="melody && !melody.paused" href="" data-ng-click="pause()"><em class="icon-stop"></a></em>
    </p>
</div>
<div class="row panel" ng-bind-html="song.text | sbNewlines"></div>